        <div class="col-md-4">
          <div class="main-sidebar">
            <a href="https://{{ site.domain }}/">
              <img src="http://appropriatetech.net/files/images/conf-logo.png" width="205" height="214">
            </a>

            <nav>
              <ul class="nav navbar-side">

                <li>
                  <a href="https://{{ site.domain }}/inat">About the INAT</a>
                  <a href="https://{{ site.domain }}/icat7">The 7<sup>th</sup> ICAT</a>
                </li>

              </ul>
            </nav>
          </div>
        </div>
