{% extends "theme_bootstrap/base.html" %}

{% load sitetree %}
{% load staticfiles %}
{% load markitup_tags %}
{% load metron_tags %}
{% load i18n %}

{% block topbar %}
    <div class="navbar-header">
        <h1>International Network on Appropriate Technology</h1>
    </div>
{% endblock %}

{% block viewport %}{% endblock %}

{% block style_base %}
    <link rel="apple-touch-icon" sizes="57x57" href="https://{{ site.domain }}/icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="https://{{ site.domain }}/icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="https://{{ site.domain }}/icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="https://{{ site.domain }}/icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="https://{{ site.domain }}/icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="https://{{ site.domain }}/icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="https://{{ site.domain }}/icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="https://{{ site.domain }}/icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="https://{{ site.domain }}/icons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="https://{{ site.domain }}/icons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://{{ site.domain }}/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="https://{{ site.domain }}/icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://{{ site.domain }}/icons/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#e48934">
    <meta name="msapplication-TileImage" content="https://{{ site.domain }}/icons/ms-icon-144x144.png">
    <meta name="theme-color" content="#e48934">
    <link rel="manifest" href="https://{{ site.domain }}/manifest.json">

    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:700,600,400,300' rel='stylesheet'>
    <link href="{% static "pinax/css/theme.css" %}" rel="stylesheet">
    <link href="https://{{ site.domain }}/css/main.css" rel="stylesheet">
    {% block extra_style %}{% endblock %}
{% endblock %}


{% block extra_head_base %}
    <script src="{% block jquery_src %}{% static "jquery/js/jquery-2.1.1.min.js" %}{% endblock %}"></script>
    {% block extra_head %}{% endblock %}
{% endblock %}

{% block navbar_class %}{% endblock %}
{% block wrapper_class %}outer-container{% endblock %}

{% block body_base %}
    <div class="container">
        {% include "_messages.html" %}
        {% block body_outer %}
            <div class="row">
                {% include "symposion/proposals/_sidebar.html" %}

                <div class="col-md-8">
                    <div class="collapse navbar-collapse navbar-responsive-collapse">
                    {% block account_bar %}{% include "_account_bar.html" %}{% endblock %}
                    </div>

                    {% block body %}
                    {% endblock %}
                </div>
            </div>
        {% endblock %}
        <hr />
        <footer class="footer">
            <div class="pull-left">
                &copy;2014
            </div>

            <div class="pull-right">
                Site powered by <a href="http://eldarion.com/symposion/"><b>Symposion</b></a>.
            </div>
        </footer>
    </div>
{% endblock %}

{% block footer_base %}{% endblock %}

{% block extra_body_base %}
    {% analytics %}
    {% block extra_body %}{% endblock %}
{% endblock %}


{% block script_base %}
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "pinax/js/theme.js" %}"></script>
    {% markitup_media "no-jquery" %}
    {% block extra_script %}{% endblock %}
{% endblock %}
